.global-footer{
    background-color: #141414;
    border-top: solid #111111 2px;
}

.titulo-footer{
    padding: 8px;
    font-size: 24px;
}

footer li{
    font-size: 16px;
    padding-top: 8px;
    margin-left: 40px;
}